body{
background-color: black;
}
#root{
   display: flex;
   justify-content: center;
  
}
.title{
   text-align: center;
   color: beige;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root canvas{
   display: block;
   margin: 0 auto;
    background-color: black;
}