#root{
   display: flex;
   justify-content: center;
  
}
.title{
   text-align: center;
}
#root canvas{
   display: block;
   margin: 0 auto;
   border: 2px solid yellow;
    background-color: black;
}